@{
    ViewData["Title"] = "Agenda de Actividades";
}


<h1>Agenda de actividades Page</h1>



<a class="btn btn-success btn-block" asp-action="Create" asp-controller="Activity">Crear Actividad</a>
<a class="btn btn-primary btn-block" asp-action="List" asp-controller="Activity">Ver Actividades</a>
