@{
    ViewData["Title"] = "Agenda de Actividades";
}

<h1 class="pt-5 pb-4 text-center">Calendar of Activities</h1>



<a class="btn btn-success btn-block" asp-action="Create" asp-controller="Activity">Create Activity</a>
<a class="btn btn-primary btn-block" asp-action="List" asp-controller="Activity">List Activities</a>
